/* Css to do with the thumbnails on the usermain page.*/

#ThumbnailWrapper{
	padding-top: 200px;

}

.multiLine ul{

}
		
.thumbnail {
	width: 250px;
	min-height: 200px;
	border: 1px solid #000;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	zoom: 1;
	*display: inline;
	_height: 150px;
}

#createWallBtn{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
 	margin-top: 10px;
	width:200px;
	height:50px;
	border: orange;
	background-color: orange;
	border-width: 2px; 
	border-style: solid;
}