<section>
	<div id="container_demo" >
		<div id="wrapper" class="wrapper" style="position: absolute; top: 230px; left: 30px; z-index:99;">
			<div id="login" class="animate form" >
				<form autocomplete="on"> 
					<h1>Wall Settings</h1> 
					<p> 
						<label for="username" class="uname" data-icon="u" > Your email or username </label>
						<input id="usernameLogin" name="usernameLogin" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
					</p>
					<p> 
						<label for="password" class="youpasswd" data-icon="p"> Your password </label>
						<input id="passwordLogin" name="passwordLogin" required="required" type="password" placeholder="eg. X8df!90EO" /> 
					</p>
					<p class="login button"> 
						<input type="submit" id="loginButton" value="Login" /> 
					</p>
					<p class="change_link">
						Not a member yet ? <a href="register" class="to_register">Join us</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>