<section>
	<script type="text/javascript" async="false">
		function makeAdmin(id){
			
		}
		
		function makePost(id){
			
		}
		
		function makeView(){
			
		}
		
		function removePermission(id){
			
		}
		
		function addPermission(){
			
		}
	</script>
	<div id="container_demo" >
		<div id="wrapper" class="wrapper" style="position: absolute; top: 230px; left: 30px; z-index:99;">
			<div id="login" class="animate form" >
				<h1>StickIt</h1>
				{{#each permission}}
				<p> 
					{{ user.username }} is {{ permission }}
					<a href="#" class="to_register" onclick="makeAdmin({{ id }})">Make Viewer</a>&nbsp;
					<a href="#" class="to_register" onclick="makeAdmin({{ id }})">Make Poster</a>&nbsp;
					<a href="#" class="to_register" onclick="makeAdmin({{ id }})">Make Admin</a>
				</p>
				{{/each}}
			</div>
		</div>
	</div>
</section>