<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>StickIt</title>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="css/stylesheet401.css" type="text/css">
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" href="css/horizontalaccordion.css" type="text/css" /> 
		<link rel="stylesheet" href="css/verticalaccordion.css" type="text/css" />
		<link rel="stylesheet" href="css/gridCSS.css" type="text/css" />
		<link rel="stylesheet" href="css/jquery.gridster.css" type="text/css" />
		<link rel="stylesheet" href="css/dropdownstyle.css" type="text/css" />
	</head>
	<body data-role="page">
		<div>
			<div class="container">
				<div class="topMenu">
					<div id="logo">
						<div id="widgetRegion">Loading content...</div>
						<span>
							<div id="logoRegion">Loading content...</div>
						</span>	
					</div>
				</div>
			</div>
			<div>
			</div>
			<div id="navRegion">Loading content...</div>
		</div>
		<div id="mainRegion">Loading content...</div>
		<div id="footerRegion">Loading content...</div>
		<script type="text/javascript" data-main="js/init/Init" src="js/vendor/require.js"></script>
	</body>
</html>