/*
design template CSS sheet.
8/05/13
*/
{
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin-left:0em;
  margin-right: 0em;
  margin-top: 0em;
  background-color:#8ca1ef;
  border-radius: 15px; 
  
}
#titlebar{
  font-family:arial,sans-serif;
  font-size:100%;
  
  background-color:#999;
  color:#fff;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
.test, li{
  list-style:none;
}
.test {
  overflow:hidden;
  padding:3em;
}
.test li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
.test li{
  margin:1em;
  float:left;
}
.test ol{text-align:center;}
.test ol li{display:inline;padding-right:1em;}
.test ol li a{color:#fff;}

/* redesign */
.topmenu  {
  width: 100%;
  height: 80px;
  margin-right:auto;
  margin-left:auto;
  position: relative;
   border: 1px solid #071e3c;
 background-color: #071e3c;
}

.topmenu img{
  float:left;
  width: 200px;
  height: 80px;
}

.topmenu input{
   display:inline;
    position: relative;
    width: 100%;
    height: 100%;
    /* Then, we put it on top of everything else */
    z-index: 100;
    /* Last, we make it invisible */
    opacity: 1;
    /* This one is just for ergonomy */
    cursor: pointer;
 border: 1px solid #ccc;
}


.topmenu span{
  float: left;
  margin: auto;
   z-index: 100;
}
  .menu {
        width:33px;
        height:33px;
        position:absolute;
        background:#0F0;
        overflow:hidden;
        z-index:3;
        transition: width 1s;
        -moz-transition: width 1s;
        -webkit-transition: width 1s;
        -o-transition: width 1s;
        right:49%;
    }
    .menu:hover {
        width:180px;
    }

.sidebar {
  float: right;
  display: inline-block;
  margin-left: ;
  margin-top: 200px;
  width: 40px;
  height: 30px;
 
  
  position: relative;
  border: 1px solid #071e3c;
  background-color: #071e3c;
}
.wall {
  display: inline-block;
  width: 100%
  height: 100%;
}
.wall h2,p{
  font-size:100%;
  font-weight:normal;
}
.wall ul,li{
  list-style:none;
}
.wall ul{
  overflow:hidden;
  padding:3em;
}
.wall ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:inline;
  height:10em;
  width:10em;
  padding:1em;
  
}
.wall ul li{
  margin:1em;
  float:left;
}
.wall ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}

.note {

}


.note {
    background-color: rgb(255, 240, 70);
    height: 250px;
    padding: 10px;
    position: absolute;
    width: 200px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.note:hover .closebutton {
    display: block;
}

.edit {
    outline: none;
}

.lane {
  display: inline-block;
  position: absolute;
  background: url(../images/mooning.png) repeat bottom left;
  height: 400px;
  width: 10px;
 background-color: red;
}

.toolbar{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}
</style>