/* Css to do with the thumbnails on the usermain page.*/

#ThumbnailWrapper{
	padding-top: 200px;

}

.multiLine ul{

}
.thumbnail {

	display: inline;
	width:100px;
	height: 100px;
	margin: 30px;
}

#createWallBtn{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
 	margin-top: 10px;
	width:200px;
	height:50px;
	border: orange;
	background-color: orange;
	border-width: 2px; 
	border-style: solid;
}