<div>
	<div class="navbar" style="background-color: #fafafa;">
		<div class="navbar-inner" style="text-align:center; display:inline-block; list-style-type: none;">
			{{#if id}}
			<ul class="nav">
				<li><a href="index">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="http://github.com/VirtuallyIronic/StickIt">Download</a></li>
				<li><a href="login">Login</a></li>
			</ul>
			{{else}}
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="download">Download</a></li>
				<li><a href="home">User Home</a></li>
				<li><a href="http://github.com/VirtuallyIronic/StickIt">Download</a></li>
				<li><a href="/auth/logout">Logout</a></li>
			</ul>
			{{/if}}
		</div>
	</div>
</div>